<!DOCTYPE html>
<html lang="it" data-theme="sunset">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Gestione Spese</title>
</head>
<body>
    <div class="flex flex-row">
        <div id="left-bar" class="flex flex-col h-screen w-2/12 bg-neutral">
            <div class="h-1/6 flex justify-center items-center">
                <span class="text-2xl"> Gestione spese </span>
            </div>
            <div class="flex flex-col justify-between items-center h-screen">
                <div class="flex flex-col w-10/12">
                    <div class="p-2 flex justify-center">
                        <button class="btn w-10/12 btn-accent">Spese</button>
                    </div>
                    <div class="p-2 flex justify-center">
                        <button class="btn w-10/12">Utenti</button>
                    </div>
                </div>
                <div class="pb-4">
                    <span id="nome" class="text-2xl">Lorem Ipsum</span>
                </div>
            </div>
        </div>
        <div id="content" class="h-screen w-10/12">
            <div class="flex flex-row justify-between w-12/12 h-20 items-center p-8">
                <span class="text-4xl">
                    SPESE
                </span>
                <button class="btn btn-neutral">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
                    Add
                </button>
            </div>
        </div>
    </div>
</body>
</html>