<!DOCTYPE html>
<html lang="it" data-theme="sunset">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Gestione Spese</title>
</head>
<body>
    <div>
        <div id="left-bar" class="flex flex-col h-screen w-2/12 bg-neutral">
            <div class="h-1/6 flex justify-center items-center">
                <span class="text-2xl"> Gestione spese </span>
            </div>
            <div class="flex flex-col justify-between items-center h-screen">
                <div class="flex flex-col w-10/12">
                    <div class="p-2 flex justify-center">
                        <a href="/" class="w-10/12"><button class="btn w-full btn-accent">Spese</button></a>
                    </div>
                    <div class="p-2 flex justify-center">
                        <button class="btn w-10/12">Utenti</button>
                    </div>
                </div>
                <div class="pb-4">
                    <a href="/user"><button id="nome" class="text-2xl btn btn-ghost"></button></a>
                </div>
            </div>
        </div>

    </div>
    <script src="./static/utente.js"></script>
</body>
</html>